{{#> 
	layouts/main 
	title="Page Titile"
}}

{{#*inline "head-block"}}
	<!--page css here-->
{{/inline}}

{{#*inline "content-block"}}
<div class="page-wrapper flex-grow-1">
	<div class="container py-md-3 py-0 py-lg-5">
		<div class="col-12">
			<span class="fs-1 fw-black lh-1">Privacy Policy</span><br>
			<hr>
		</div>

	</div>
</div>


{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}