<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			{{title}}
		</title>
		<meta name="description" content="Page Titile">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes, minimal-ui">
		<!-- Call App Mode on ios devices -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- Remove Tap Highlight on Windows Phone IE -->
		<meta name="msapplication-tap-highlight" content="no">
		<!-- base css -->
		<link rel="stylesheet" media="screen, print" href="assets/css/common.css">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">

		{{#>head-block}}{{/head-block}}
	</head>
	<body class="">
		{{> include/_header}}

		<!-- BEGIN Page Wrapper -->
		
		{{#>content-block}}{{/content-block}}
		
		<!-- END Page Wrapper -->
		
		{{> include/_footer}}
		
		<!-- JavaScript Bundle with Popper -->
		<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="assets/js/common.js"></script>

		{{#>scripts-block}}
			{{!-- Custom scripts per page can be added. --}}
		{{/scripts-block}}
	</body>
</html>
