<footer class="d-flex page-footer bg-secondary">
	<div class="container pt-lg-5 pt-3">
		<div class="row">
			<div class="col-lg-3">
				<img src="assets/img/bq-logo-footer.svg" class="h-auto mb-4" width="150" alt="bq Logo">
				<p class="text-black">Binary Quest is an independent software vendor and technology services company</p>
			</div>
			<div class="col-lg-3 ps-lg-5">
				<p class="footer-subheader">Company</p>
				<ul class="list-unstyled footer-links mt-2">
					<li><a href="#">Home</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<p class="footer-subheader">Information</p>
				<ul class="list-unstyled footer-links mt-2">
					<li><a href="#">News</a></li>
					<li><a href="#">Forum</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms and Conditions</a></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<p class="footer-subheader">Social Media</p>
				<ul class="list-inline social-icons-list">
					<li class="list-inline-item">
						<a href="https://www.facebook.com/binaryquest" target="_blank"><img src="assets/icons/facebook.svg" width="32" height="32" alt="Facebook"></a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.linkedin.com/company/binaryquest" target="_blank"><img src="assets/icons/linkedin.svg" width="32" height="32" alt="Linkedin"></a>
					</li>
					<li class="list-inline-item">
						<a href="https://twitter.com/BinaryQuest" target="_blank"><img src="assets/icons/twitter.svg" width="32" height="32" alt="Twitter"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row my-lg-4 mt-0">
			<div class="copyright-text">© 2022 Binary Quest Ltd. All rights reserved.</div>
		</div>
	</div>
</footer>