<header class="page-header bg-secondary sticky-top">
	<nav class="navbar navbar-expand-md navbar-light navbar-dark py-0">
		<div class="container py-0">
			<a class="navbar-brand py-0" href="#">
				<img src="assets/img/bq-logo.svg" class="h-auto" width="200" alt="bq Logo">
			</a>
			<div class="d-flex align-items-center">
				<a class="navbar-search-link d-inline-block d-md-none p-3" href="#">
					<img src="assets/icons/search.svg" class="svg-filter-white" width="20" height="20" alt="Search">
				</a>
				<button class="navbar-toggler border-0 collapsed p-3 mr-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<img src="assets/icons/bars.svg" class="svg-filter-white" width="20" height="20" alt="Menu">
				</button>
			</div>
			<div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link show" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto d-none d-md-flex">
					<li class="nav-item me-3">
						<a class="navbar-search-link d-block px-3" href="#">
							<img src="assets/icons/search.svg" class="svg-filter-white" width="20" height="20" alt="Search for something">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>